.section, .slide{
		text-align:center;
		background-size: auto 100% !important;
        background-repeat:no-repeat;
        background-position-x: center;
        .fp-tableCell{
            height: 100% !important;
        }
	}

@font-face {
    font-family: RobotoSlab; /* Имя шрифта */
    src: url(fonts/RobotoSlab-Regular.ttf); /* Путь к файлу со шрифтом */
   }
@font-face {
    font-family: RobotoSlabBold; /* Имя шрифта */
    src: url(fonts/RobotoSlab-Bold.ttf); /* Путь к файлу со шрифтом */
   }
        
/* Backgrounds will cover all the section
* --------------------------------------- */
.slide{
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

/* Defining each section background and styles
* --------------------------------------- */
#section0{
    background-image: url(../imgs/section1.jpg);
    padding: 30% 0 0 0;
}
#section1{
    background-image: url(../imgs/section2.gif)
}
#section2{
    background-image: url(../imgs/section3.gif);
    padding: 6% 0 0 0;
}

/*Adding background for the slides
* --------------------------------------- */
#slide1{
    background-image: url(../imgs/Andrew2.jpg);
    padding: 6% 0 0 0;
}
#slide2{
    background-image: url(../imgs/Andrew.jpg);
    padding: 6% 0 0 0;
}
        
.header{
    z-index: 1;
    position: absolute;
    background: #fbb658;
    text-align: center;
    width: 100%;
    
    .logo{
        display: inline-block;
        background-image: url(../imgs/logo.png);
        background-repeat:no-repeat;
        background-size: 100% 100%;
    }
    
    .text-header{
        display: inline-block;
        span{
            font-family: RobotoSlabRegular;
            display: block;
        }
        span:nth-child(2){
            font-weight: 900;
            color: #e42537;
        }
    }
    .desktop{
        .logo{
            width: 7vw;
            height: 5vw;
            margin-top: -4%;
        }
        span{font-size: 2vw;}
    }
    .mobile{
        .logo{
            width: 15vw;
            height: 10vw;
            margin-top: -7%;
        }
        span{font-size: 3.8vw;}
    }
}

.nav-menu-desktop{
    width: 35%;
    
    ul#my-ul li{//Специально придумал этот id чтобы эти стили имели выше приоритет, ну не писать же к каждому стилю !important
        width: 100%;
        height: 20px;
        
        a{
            height: auto;
            width: 100%;
            
            span{ /*первый спан это маркер списка*/
                left: 0;
                height: 30px;
                width: 30px;
                background: #fbb658;
            }
        }
    }
}

.unselectable {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}