@import "Global_variables";
//-----------------------------------DESKTOP-----------------------------------------------------
@media screen and (min-device-width:1001px){//Во имя широких мониторов!!
    
    nav{
        width: 860px;
        height: @desktop-header-height;
        
        }
        a.logo{
            width: @desktop-header-height;
            height: @desktop-header-height;
        }
    
        ul{
            margin-left: @desktop-distance-between-buttons !important;
            
            li{
                .button-settings(@desktop-distance-between-buttons,146px);                    
                
                &:hover{
                    border:2px solid #909f98;
                    left: -2px;
                }

            }
        }
}

//-----------------------------------PAD---------------------------------------------------------
@media screen and (min-device-width:769px) and (max-device-width:1000px){//За честь планшетов!
    
    nav{
        width: 760px;
        height: @pad-header-height;
        
        a.logo{
        width: @pad-header-height;
        height: @pad-header-height;
        }
            
        ul {
            margin-left: 30px;
            
            li{ 
                    .button-settings(20px,145px);                  

                }
            }
        }
}

//-----------------------------------MOBILE-------------------------------------------------------
@media screen and (max-device-width:768px){//мобильнички тоже устройства.
    nav{
        height: @mobile-header-height;
        
        a.logo{
            width: @mobile-header-height;
            height: @mobile-header-height;
        }
    }
    
}

//-----------------------------------DESKTOP AND PAD--------------------------------------------
@media screen and (min-device-width:769px){//Для планшетов и мониторов

    header{
        nav{
            margin: 0 auto;
            
            ul{
                display: inline-block;
                position: relative;
                padding: 0;
                top: -40%;
                margin: 0;
                
                li{
                    display: inline-block;

                    &:last-child{margin-right: 0;}
                    }
            }
        }
    }
}

.button-settings(@margin-right,@width){
    margin-right: @margin-right;
    width: @width;
}

//-----------------------------------PAD AND MOBILE--------------------------------------------
@media screen and (max-device-width:1000px){//Для планшетов и моблных
    header{
        nav{
            ul{
                li{
                    border: 2px solid #909f98;
                    &:active{
                        background-color: #989f98;
                        a{color: #e8e8e8;}
                    }
                }
            }
        }
    }
}