@import "Global_variables";
//Общие настройки для всех типов устройств
@font-face{
    font-family: NotoSans;
    src: url(../fonts/NotoSans-Regular.ttf)
}
body{
    font-family: NotoSans;
    margin: 0;
    height: 20000px;
}

header{
    background-color: #ececec;
    position: fixed;
    width: 100%;
    
    nav{
        
        a.logo, a.mobile-sandwich{
            display: inline-block;
            background-size: cover;
            background-repeat: no-repeat;
        }
        
        a.logo{background-image: url("../imgs/logo.png");}    
        
        ul{
            list-style-type: none;
            
            li{
                text-align: center;
                border-radius: 30px;
                box-sizing: border-box;
                
                &:active{
                    background-color: #909f98;
                    a{color: #e8e8e8}
                }
                
                a{
                    font-size: 19px;
                    text-decoration: none;
                    color: black;
                }

            }
        }
        
        a.mobile-sandwich{background: url("../imgs/Snadwich.png");}
    }
}

.unselectable{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}