@import "Global_variables";
//-----------------------------------DESKTOP-----------------------------------------------------
@media screen and (min-device-width:1001px){//Во имя широких мониторов!!
    
    nav{
        width: @desktop-nav-width;
        height: @desktop-header-height;
        
        
        a.logo{
            width: @desktop-header-height;
            height: @desktop-header-height;
        }
    
        ul{
            margin-left: @desktop-btn-distance !important;
            
            li{
                .button-settings(@desktop-btn-distance, @desktop-btn-width);                    

                &:hover{border:@btn-border-width solid #909f98;}

            }
        }
    }
    
    .block-trade-text{
        top: @desktop-header-height+15px;
        width: @desktop-nav-width;
        height: 525px;
        ul li{ 
            margin-left: 48px;
        }
         
        font-size: 31px;
    }
}

//-----------------------------------PAD---------------------------------------------------------
@media screen and (min-device-width:769px) and (max-device-width:1000px){//За честь планшетов!
    
    nav{
        width: @pad-nav-width;
        height: @pad-header-height;
        
        a.logo{
        width: @pad-header-height;
        height: @pad-header-height;
        }
            
        ul {
            margin-left: 20px !important;
            
            li{ 
                    .button-settings(@pad-btn-distance,@pad-btn-width);                  

                }
            }
        }
    
    .block-trade-text{
        top: @pad-header-height + 15px;
        width: @pad-nav-width;
        height: 500px;
        font-size: 30px;
        
        ul li {margin-left: 9px;}
    }
}

//-----------------------------------MOBILE-------------------------------------------------------
@media screen and (max-device-width:768px){//мобильнички тоже устройства.
    
    h1{font-size: 30px;}
    
    nav{
        height: @mobile-header-height;
        
        a.logo{
            width: @mobile-logo-side;
            height: @mobile-logo-side;
        }
        
        .mobile-sandwich-close-button{
            height: @mobile-side-sandwich-button;
            width: @mobile-side-sandwich-button;
            margin: (@mobile-header-height - @mobile-side-sandwich-button)/2;
            position: absolute;
            right: 2px;
            transition: .3s linear;
            
            &.hidden{
                background-image: url("../imgs/Snadwich.png");
            }

            &.opened{
                transform: rotate(180deg);
                background-image: url("../imgs/Close.png");
            }
        }
        
        ul{
            background-color: @mobile-menu-background-color;
            height: 170px;
            width: @mobile-menu-width;
            padding-left: 0;
            margin-top: -5px;
            border-top: 1px solid #775f5f;
            position: absolute;
            transition: .3s linear;//Для анимации выплывания и уплывания менюшки.
            
            &.hidden{right: (-1)*@mobile-menu-width;}
            &.opened{right: 0px;}
            
            li{
                margin-top: 10px;  
            }
            
        }
    }
    
    .block-trade-text{
        top: @mobile-header-height + 15px;
        width: 305px;
        height: 390px;
        font-size: 18px;
        
        h1{font-size: 30px;}
        
        ul li img {.marker-props-position(12px,0px);}
    }
    
}

//-----------------------------------DESKTOP AND PAD--------------------------------------------
@media screen and (min-device-width:769px){//Для планшетов и мониторов

    .block-trade-text h1{font-size: 45px;}
    
    header{
        nav{
            margin: 0 auto;
            
            .mobile-sandwich-close-button{display: none;}
            
            ul{
                display: inline-block;
                position: relative;
                padding: 0;
                top: -40%;
                margin: 0;
                
                li{
                    display: inline-block;

                    &:last-child{margin-right: 0;}
                }
            }
        }
    }
    
    .about-us .block-trade-text ul li img {.marker-props-position();}
}    

//-----------------------------------PAD AND MOBILE--------------------------------------------
@media screen and (max-device-width:1000px){//Для планшетов и моблных
    header{
        nav{
            ul{
                li{
                    border: 2px solid #909f98;
                    &:active{
                        background-color: #989f98;
                        a{color: #e8e8e8;}
                    }
                }
            }
        }
    }
}

.button-settings(@margin-right,@width){
    margin-right: @margin-right;
    width: @width;
}

.marker-props-position(@maker-side:18px,@maker-bottom:2px){
    width: @maker-side;
    height: @maker-side;
    bottom: @maker-bottom;
}